body {  
  margin: 0;
  font-family: Arial, sans-serif;       
  background-color: rgb(0, 0, 0);
  color: blueviolet;
} 

header {
  background-color: aquamarine;   
  color: white;
  text-align: center;
  max-width: 100px;
  margin: 0 auto;
  padding: 30px;
  border-bottom: 6px solid #A7C957;
}

main {
  background-color: black;
  max-width: 100px;
  margin: 0 auto;
  padding: 25px;
}

.artigo {
  display: flex;
  align-items: center; /* Corrigido de align-itms */
  gap: 25px;
  margin-bottom: 40px; /* Espaço removido e ';' adicionado */
}

img {
  width: 140px;
  height: 140px;
}

.artigo-autor {
  font-weight: bold; /* Corrigido de font-wight */
  color: #6A994E;
}

h2 {
  color: #386641;
}

.conteudo {
  margin-top: 35px;
}

button {
  margin-top: 15px;
  padding: 10px 18px;
  background-color: #A7C957;
  border: none; /* Corrigido de nome para none */
}







